@media (max-width: 1950px) {
    .slider-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }
    
    .slider-info {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
}

@media (max-width: 1250px) {
    .code-container pre {
        font-size: 11px;
    }
}

@media (max-width: 900px) {
    .image-container img {
        width: 30%;
      }
      
      .image-container img:nth-child(2) {
        width: 45%;
      }
      
    
    .code-container pre {
        font-size: 11px;
    }
}

@media (max-width: 750px) {
    .codigo-grande .code-container pre{
        font-size: 10px;
    }
}

@media (max-width: 690px) {
    .code-container pre {
        font-size: 10px;
    }
    
    .codigo-grande .code-container pre{
        font-size: 9px;
    }
}

@media (max-width: 600px) {
    .code-container pre {
        font-size: 9px;
    }

    .slider-info2 .code-container pre {
        font-size: 8px;
    }
}


@media (max-width: 570px) {

    .code-container pre {
        font-size: 8px;
    }

    .slider-info2 .code-container pre {
        font-size: 8px;
    }

    .codigo-grande .code-container pre{
        font-size: 8px;
    }
}

@media (max-width: 530px) {
    .code-container pre {
        font-size: 7px;
    }
    
    .slider-info2 .code-container pre {
        font-size: 7px;
    }

    .codigo-grande .code-container pre{
        font-size: 7px;
    }
}