<div class="content">
    <div class="doc">
        <div class="index">
            <ul class="index-list">
                <li class="active"><a routerLink="/docker/como-empezar" routerLinkActive="active">Como empezar</a></li>
                <li><a routerLink="/docker/imágenes" routerLinkActive="active">Imágenes</a></li>
                <li><a routerLink="/docker/contenedores" routerLinkActive="active">Contenedores</a></li>
                <li><a routerLink="/docker/redes" routerLinkActive="active">Redes</a></li>
                <li><a routerLink="/docker/comandos-más-importantes" routerLinkActive="active">Comandos más importantes</a></li>
                <li><a routerLink="/docker/docker-compose" routerLinkActive="active">Docker compose</a></li>
            </ul> 
        </div>
        <div class="info">
            <div class="title">
                <h1>Docker</h1>
                <img src="/assets/tecns/docker/docker.png" alt="logo-docker">     
            </div>
            <p>Docker es una <strong>plataforma de contenerización que permite ejecutar aplicaciones en entornos aislados llamados contenedores,</strong> estos incluyen todo lo necesario para que una aplicación funcione, ya sea en local, en servidores de desarrollo o en la nube.</p>
            <h3>Beneficios</h3>
            <ul class="list-benefits">
                <li><strong>● Portabilidad:</strong> Empaqueta tus apps y sus dependencias y las ejecuta sin preocuparse de sistemas operativos.</li>
                <li><strong>● Aislamiento:</strong> Las apps no afectarán ni interferirán con otras del mismo host.</li>
                <li><strong>● Eficiencia:</strong> Los contenedores comparten el kernel del sistema operativo por lo que son más eficaces que las máquinas virtuales que usan un sistema operativo completo.</li>
            </ul>
            <h3>Descarga en el sitio oficial</h3>
            <p>Para empezar a usarlo debes ir a <a href="https://www.docker.com/products/docker-desktop/" target="_blank" class="enlace-apartado">https://www.docker.com/products/docker-desktop/</a> elegir S.O y darle a "Download for":</p>
            <div class="image-container">
                <img src="/assets/tecns/docker/docker-desktop.png" alt="docker-desktop">
            </div>     
        </div>
    </div>
</div>
