.icon {
    width: 100px;
    height: 100px;
}

.typing-animation {
    animation: typing 0.5s steps(40, end), blink-caret 0.2s step-end infinite alternate;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-right: 2px solid transparent;
    }
    50% {
      border-right: 2px solid black;
    }
  }
  
.tecns {
  position: relative;
  margin-top: 330px;
}

.tecns h1{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.tecns-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 0 300px;
}

.tecn {
    flex: 0 1 30%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    border: 2px solid rgb(198, 198, 198);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.tecn:hover {
    border: 2px solid rgb(161, 161, 161);
    box-shadow: 0px 0px 10px rgba(198, 198, 198, 1);
    transform: translateY(-10px); 
}

.tecn p {
  text-align: center;
  width: 75%;
}