<div class="content">
    <div class="doc">
        <div class="index">
            <ul class="index-list">
                <li class="active"><a routerLink="/microservicios/como-empezar" routerLinkActive="active">Como empezar</a></li>
                <li><a routerLink="/microservicios/eureka-server" routerLinkActive="active">Spring Cloud Netflix - Eureka Server</a></li>
                <li><a routerLink="/microservicios/spring-cloud-gateway-reactive" routerLinkActive="active">Spring Cloud Gateway (Reactive)</a></li>
                <li><a routerLink="/microservicios/spring-cloud-config" routerLinkActive="active">Spring Cloud Config</a></li>
            </ul> 
        </div>
        <div class="info">
            <div class="title">
                <h1>Microservicios</h1>
                <img src="https://spring.io/img/icons/microservices.svg" alt="icon">     
            </div>
            <p class="texto">Una <strong>arquitectura de microservicios</strong> es un enfoque para desarrollar una aplicación como un <strong>conjunto de servicios pequeños e independientes que se comunican entre sí.</strong> Estas son algunas de las ventajas de usarlos:</p>
            <ul class="list">
                <li><strong>- Escalabilidad: </strong>Permite escalar partes específicas de la aplicación de manera independiente, optimizando recursos y adaptándose a cambios en la demanda.</li>
                <li><strong>- Flexibilidad tecnológica: </strong>Cada microservicio puede ser desarrollado con la tecnología más adecuada, aprovechando herramientas y lenguajes específicos para cada componente.</li>
                <li><strong>- Despliegue independiente: </strong>Facilita la implementación y actualización de partes de la aplicación sin afectar al resto, agilizando el proceso de desarrollo.</li>
                <li><strong>- Facilidad de mantenimiento: </strong>Al dividir la aplicación en servicios más pequeños y específicos, simplifica la comprensión, modificación y mantenimiento del sistema a lo largo del tiempo.</li>
            </ul>
        </div>
    </div>
</div>