<div class="content">
    <div class="doc">
        <div class="index">
            <ul class="index-list">
                <li class="active"><a routerLink="/aws/como-empezar" routerLinkActive="active">Como empezar</a></li>
                <li><a routerLink="/aws/crear-cuenta" routerLinkActive="active">Crear cuenta y capa gratuita</a></li>
                <li><a routerLink="/aws/servicio-s3/como-empezar" routerLinkActive="active">Servicio de S3</a></li>
            </ul> 
        </div>
        <div class="info">
            <div class="title">
                <h1>Amazon Web Services</h1>
                <img src="/assets/tecns/aws/aws.png" alt="logo-aws">     
            </div>
            <p class="texto">Amazon Web Services (AWS) es un <span class="text-aws">proveedor de servicios en la nube</span> líder a nivel mundial. Ofrece una amplia gama de soluciones para empresas y desarrolladores que desean aprovechar la potencia de la computación en la nube. Aquí tienes una descripción general de <span class="text-aws">algunos de sus servicios más importantes:</span></p>
            <h3 class="title-aws">Servicio de cómputo:</h3>
            <p class="texto"><span class="text-aws">- Amazon EC2 (Elastic Compute Cloud):</span> Permite a los desarrolladores rentar máquinas virtuales y escalar automáticamente la capacidad de cómputo según sea necesario.</p>
            <p class="texto"><span class="text-aws">- AWS Lambda:</span>  Un servicio de cómputo sin servidor que permite ejecutar código en respuesta a eventos. Es excelente para tareas pequeñas y efímeras</p>
            <h3 class="title-aws">Almacenamiento:</h3>
            <p class="texto"><span class="text-aws">- Amazon EC2 (Elastic Compute Cloud):</span> Permite a los desarrolladores rentar máquinas virtuales y escalar automáticamente la capacidad de cómputo según sea necesario.</p>
            <h3 class="title-aws">Base de datos:</h3>
            <p class="texto"><span class="text-aws">- Amazon DynamoDB:</span> Una base de datos NoSQL flexible con rendimiento confiable y escalabilidad sin problemas.</p>
            <h3 class="title-aws">Networking y entrega de contenido:</h3>
            <p class="texto"><span class="text-aws">- Amazon VPC (Virtual Private Cloud):</span> Despliega recursos AWS dentro de una nube privada virtual.</p>
        </div>
    </div>
</div>
