<div class="content">
    <div class="doc">
        <div class="index">
            <ul class="index-list">
                <li><a routerLink="/spring/como-empezar" routerLinkActive="active">Como empezar</a></li>
                <li><a routerLink="/spring/spring-web/como-empezar" routerLinkActive="active">Spring Web</a></li>
                <li class="active">
                    <a routerLink="/spring/spring-security" routerLinkActive="active">Spring Security</a>
                    <div class="submenu-container">
                        <hr>
                        <ul class="submenu">
                            <li><a routerLink="/spring/spring-security/como-empezar" routerLinkActive="active">Como
                                    empezar</a></li>
                            <li><a routerLink="/spring/spring-security/proyecto-base" routerLinkActive="active">Proyecto
                                    base a darle seguridad</a></li>
                            <li class="active"><a routerLink="/spring/spring-security/componentes-clave"
                                    routerLinkActive="active">Componentes clave de
                                    Spring Security</a></li>
                            <li><a routerLink="/spring/spring-security/autenticación" routerLinkActive="active">Creando arquitectura
                                    de autenticación con JWT</a></li>
                            <li><a routerLink="/spring/spring-security/filtros-de-seguridad" routerLinkActive="active">Filtros de seguridad:
                                    JwtAuthenticationFilter</a></li>
                            <li><a routerLink="/spring/spring-security/autorización" routerLinkActive="active">Creando arquitectura
                                    de autorización</a></li>
                            <li><a routerLink="/spring/spring-security/cors" routerLinkActive="active">Cross-Origin Resource
                                    Sharing (CORS)</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="info">
            <div class="title">
                <h1>Componentes clave de Spring Security</h1>
                <div class="icons-container">
                    <a href="https://github.com/Alvarosanchezz3/Spring-Security" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" viewBox="0 0 24 24">
                                    <path fill="#ffffff" d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2" />
                            </svg>
                    </a>
            </div>
            </div>
            <p class="texto">Para empezar con la seguridad vamos a crear una <span class="purple">clase</span> llamada
                <span class="yellow">SecurityBeansInjector</span> en el
                package <strong>.config.security</strong> para la <strong>autenticación</strong> de la aplicación, en la
                que definiremos estos <strong>Beans</strong>:<br>

                <br><span class="yellow">AuthenticationManager</span> → Es un componente crucial para <strong>procesar
                    las solicitudes de autenticación,</strong> como inicio de sesión de usuarios. La configuración de
                este bean permite crear un AuthenticationManager personalizado.
            </p>
            <div class="explicacion-codigo1">
                <div class="code-container">
                    <pre>
                        <code>
                            <span><span class="yellow">&#64;Bean</span></span>
                            <span><span class="purple">public</span> <span class="yellow">AuthenticationManager</span> <span class="blue">authenticationManager</span> (<span class="yellow">AuthenticationConfiguration</span> <span class="brown">authConfig</span>)</span>
                            <span>                                                                                                              <span class="purple">throws</span> <span class="yellow">Exception</span> {{"{"}}</span>
                            <span>  <span class="purple">return</span> <span class="brown">authConfig</span>.<span class="blue">getAuthenticationManager</span>();</span>
                            <span>{{"}"}}</span>
                        </code>
                    </pre>
                </div>
            </div>
            <p><span class="yellow">AuthenticationProvider</span> → El proveedor de autenticación es responsable de
                <strong>autenticar las credenciales de un usuario.</strong> En este caso, se utiliza un
                <strong>DaoAuthenticationProvider</strong>, que es un tipo específico de AuthenticationProvider que
                utiliza un <strong>UserDetailsService</strong> y un <strong>PasswordEncoder</strong> para autenticar a
                los usuarios basados en la información almacenada en una base de datos.</p>
            <div class="explicacion-codigo1" id="exp-codigo1">
                <div class="code-container">
                    <pre>
                        <code>
                            <span><span class="yellow">&#64;Bean</span></span>
                            <span><span class="purple">public</span> <span class="yellow">AuthenticationProvider</span> <span class="blue">authenticationProvider</span> () {{"{"}}</span>
                            
                            <br><span>  <span class="yellow">DaoAuthenticationProvider</span> authenticationStrategy = new <span class="yellow">DaoAuthenticationProvider</span>();</span>
                            <span>    authenticationStrategy.<span class="blue">setPasswordEncoder</span>( <span class="purple">null</span> );</span>
                            <span>    authenticationStrategy.<span class="blue">setUserDetailsService</span>( <span class="purple">null</span> );</span>

                            <br><span>  <span class="purple">return</span> authenticationStrategy;</span>

                            <span>{{"}"}}</span>
                        </code>
                    </pre>
                </div>
                <ul class="list-benefits">
                    <li><strong>(Posteriormente cambiaremos los null por los valores correspondientes)</strong></li>
                    <li>- El <span class="blue">PasswordEncoder</span>() y el <span
                            class="blue">userDetailsService</span>() son métodos para acciones <strong>relacionadas con
                            el usuario.</strong> Pero nosotros todavía no hemos creado una entidad llamada User ni nada
                        relacionada a ella.</li>
                </ul>
            </div>
            <p>Sin embargo, antes vamos a crear el sistema de roles y permisos que van a ir relacionados a estos
                usuarios, que van a ser 2 enumeraciones: <br>

                <br><span class="yellow">RolePermission</span> → Son todos los permisos que hay, que equivalen a los
                métodos de los controladores.<br>
                <br><span class="yellow">Role</span> → Son los roles que van a poder tener los usuarios:
                <br><strong>- Administrador:</strong> Todos los permisos
                <br><strong>- Asistente de administrador:</strong> Todo menos crear y cambiar estados
                <br><strong>- cliente:</strong> Solo podrá ver su perfil
            </p>
            <div class="explicacion-codigo1">
                <div class="code-container" id="code-container1">
                    <pre>
                        <code>
                            <span><span class="purple">public enum </span><span class="yellow">RolePermission</span> {{"{"}}</span>

                            <br><span class="brown">  READ_ALL_PRODUCTS,</span>
                            <span class="brown">  READ_ONE_PRODUCT,</span>
                            <span class="brown">  CREATE_ONE_PRODUCT,</span>
                            <span class="brown">  UPDATE_ONE_PRODUCT,</span>
                            <span class="brown">  DISABLE_ONE_PRODUCT,</span>
                            <span class="brown">  ENABLE_ONE_PRODUCT,</span>

                            <br><span class="brown">  READ_ALL_CATEGORIES,</span>
                            <span class="brown">  READ_ONE_CATEGORY,</span>
                            <span class="brown">  CREATE_ONE_CATEGORY,</span>
                            <span class="brown">  UPDATE_ONE_CATEGORY,</span>
                            <span class="brown">  DISABLE_ONE_CATEGORY,</span>
                            <span class="brown">  ENABLE_ONE_CATEGORY,</span>

                            <br><span class="brown">  READ_MY_PROFILE;</span>

                            <span>{{"}"}}</span>
                        </code>
                    </pre>
                </div>
                <div class="code-container" id="code-container2">
                    <pre>
                        <code>
                            <span><span class="purple">public enum </span><span class="yellow">Role</span> {{"{"}}</span>
                            
                            <br><span>  <span class="brown">ADMINISTRATOR</span>(<span class="yellow">Arrays</span>.<span class="blue">asList</span>(</span>
                            <span>    <span class="yellow">RolePermission</span><span class="brown">READ_ALL_PRODUCTS</span>,</span>
                            <span>    <span class="yellow">RolePermission</span><span class="brown">READ_ONE_PRODUCT</span>,</span>
                            <span>    <span class="yellow">RolePermission</span><span class="brown">CREATE_ONE_PRODUCT</span>,</span>
                            <span>    <span class="yellow">RolePermission</span><span class="brown">UPDATE_ONE_PRODUCT</span>,</span>
                            <span>    <span class="yellow">RolePermission</span><span class="brown">DISABLE_ONE_PRODUCT</span>,</span>
                            <span>    <span class="yellow">RolePermission</span><span class="brown">ENABLE_ONE_PRODUCT</span>,</span>

                            <br><span>    <span class="yellow">RolePermission</span><span class="brown">READ_ALL_CATEGORIES</span>,</span>
                            <span>    <span class="yellow">RolePermission</span><span class="brown">READ_ONE_CATEGORY</span>,</span>
                            <span>    <span class="yellow">RolePermission</span><span class="brown">CREATE_ONE_CATEGORY</span>,</span>
                            <span>    <span class="yellow">RolePermission</span><span class="brown">UPDATE_ONE_CATEGORY</span>,</span>
                            <span>    <span class="yellow">RolePermission</span><span class="brown">DISABLE_ONE_CATEGORY</span>,</span>
                            <span>    <span class="yellow">RolePermission</span><span class="brown">ENABLE_ONE_CATEGORY</span>,</span>

                            <br><span>    <span class="yellow">RolePermission</span><span class="brown">READ_MY_PROFILE</span>,</span>
                            <span>  )),</span>

                            <br><span>  <span class="brown">ASSISTANT_ADMINISTRATOR</span>(<span class="yellow">Arrays</span>.<span class="blue">asList</span>(</span>
                            <span>    <span class="yellow">RolePermission</span><span class="brown">READ_ALL_PRODUCTS</span>,</span>
                            <span>    <span class="yellow">RolePermission</span><span class="brown">READ_ONE_PRODUCT</span>,</span>
                            <span>    <span class="yellow">RolePermission</span><span class="brown">UPDATE_ONE_PRODUCT</span>,</span>

                            <br><span>    <span class="yellow">RolePermission</span><span class="brown">READ_ALL_CATEGORIES</span>,</span>
                            <span>    <span class="yellow">RolePermission</span><span class="brown">READ_ONE_CATEGORY</span>,</span>
                            <span>    <span class="yellow">RolePermission</span><span class="brown">UPDATE_ONE_CATEGORY</span>,</span>

                            <br><span>    <span class="yellow">RolePermission</span><span class="brown">READ_MY_PROFILE</span>,</span>
                            <span>  )),</span>

                            <br><span>  <span class="brown">CUSTOMER</span>(<span class="yellow">Arrays</span>.<span class="blue">asList</span>(</span>
                            <span>    <span class="yellow">RolePermission</span><span class="brown">READ_MY_PROFILE</span>,</span>
                            <span>  )),</span>

                            <br><span>  <span class="purple">private</span> <span class="yellow">List</span>{{"<"}}<span class="yellow">RolePermission</span>{{">"}} <span class="red">permissions</span>;</span>

                            <br><span>  <span class="blue">Role</span>(<span class="yellow">List</span>{{"<"}}<span class="yellow">RolePermission</span>{{">"}} <span class="brown">permissions</span>) {{"{"}}</span>
                            <span>    <span class="purple">this</span>.<span class="red">permissions</span> = <span class="brown">permissions</span>;</span>
                            <span>  {{"}"}}</span>

                            <br><span>  <span class="purple">public</span> <span class="yellow">List</span>{{"<"}}<span class="yellow">RolePermission</span>{{">"}} <span class="blue">getPermissions</span>() {{"{"}}</span>
                            <span>    <span class="purple">return</span> <span class="red">permissions</span>;</span>
                            <span>  {{"}"}}</span>

                            <br><span>  <span class="purple">public void</span> <span class="blue">setPermissions</span>(<span class="yellow">List</span>{{"<"}}<span class="yellow">RolePermission</span>{{">"}} <span class="brown">permissions</span>) {{"{"}}</span>
                            <span>    <span class="purple">this</span>.<span class="red">permissions</span> = <span class="brown">permissions</span>;</span>
                            <span>  {{"}"}}</span>

                            <span>{{"}"}}</span>
                        </code>
                    </pre>
                </div>
            </div>
            <ul class="list-benefits">
                <li>Ahora sí que podemos crear la <span class="yellow">entidad User</span> , así que <strong>¡Vamos a
                        ello!</strong></li>
                <li>- <span class="yellow">&#64;Table</span>(<span class="brown">name</span> = <span
                        class="green">"\"user\""</span>) → El nombre de la tabla es "user". Se utiliza \" para escapar
                    el nombre de la tabla porque "user" es una palabra reservada en algunos sistemas de bases de datos.
                </li>
                <li>- <span class="yellow">&#64;Column</span>(<span class="brown">unique</span> = <span
                        class="purple">true</span>) → El atributo <span class="red">username</span> no puede repetirse
                    en BBDD</li>
                <li>- <span class="yellow">Role</span> → Atributo de la <span class="purple">enum</span> creada
                    anteriormente, en este caso para <strong>definir el rol del usuario</strong> cuando se cree.</li>
                <li>- <span class="purple">implements</span> <span class="yellow">UserDetails</span> → Interfaz que se
                    utiliza para <strong>representar detalles sobre un usuario autenticado.</strong> Esto proporciona
                    los <strong>métodos necesarios para la autenticación y la autorización.</strong></li>
            </ul>
            <div class="explicacion-codigo1">
                <div class="code-container" id="code-container3">
                    <pre>
                        <code>
                            <span><span class="yellow">&#64;Entity</span></span>
                            <span class="yellow">&#64;Data</span>
                            <span class="yellow">&#64;NoArgsConstructor</span>
                            <span class="yellow">&#64;AllArgsConstructor</span>
                            <span><span class="yellow">&#64;Table</span>(<span class="brown">name</span> = <span class="green">"\"user\""</span>)</span>
                            <span><span class="purple">public class</span> <span class="yellow">User</span><span class="purple"> implements</span><span class="yellow"> UserDetails</span> {{"{"}}</span>
                        
                            <br><span>  <span class="yellow">&#64;Id</span></span>
                            <span>  <span class="yellow">&#64;GeneratedValue</span>(<span class="brown">strategy</span> = <span class="yellow">GenerationType</span>.<span class="brown">IDENTITY)</span></span>
                            <span>  <span class="purple">private</span> <span class="yellow"> Long</span><span class="red"> id</span>;</span>
                        
                            <br><span>  <span class="yellow">&#64;GeneratedValue</span>(<span class="brown">unique</span> = <span class="purple">true)</span></span>
                            <span>  <span class="purple">private</span><span class="yellow"> String</span><span class="red"> username</span>;</span>

                            <br><span>  <span class="purple">private</span><span class="yellow"> String</span><span class="red"> password</span>;</span>
                        
                            <br><span>  <span class="yellow">&#64;Enumerated</span>(<span class="yellow">EnumType</span>.<span class="brown">STRING</span>)</span>
                            <span>  <span class="purple">private</span><span class="yellow"> Role</span><span class="red"> role</span>;</span>
                        
                            <br><span>  <span class="purple">public enum</span><span class="yellow"> CategoryStatus</span> {{"{"}}</span>
                            <span>    <span class="brown">ENABLED</span>, <span class="brown">DISABLED</span></span>
                            
                            <br><span>  <span class="yellow">&#64;Override</span></span>
                            <span>  <span class="purple">public</span> <span class="yellow">Collection</span>{{"<"}}? <span class="purple">extends</span> <span class="yellow">GrantedAuthority</span>{{">"}} <span class="blue">getAuthorities</span>() {{"{"}}</span>
                            <span>    <span class="purple">if</span> (<span class="red">role</span> == <span class="purple">null</span>) <span class="purple">return null</span>;</span>
                            
                            <br><span>    <span class="purple">if</span> (<span class="red">role</span>.<span class="blue">getPermissions</span>() == <span class="purple">null</span>) <span class="purple">return null</span>;</span>

                            <br><span>    <span class="yellow">List</span>{{"<"}}<span class="yellow">SimpleGrantedAuthority</span>{{">"}} authorities = <span class="red">role</span>.<span class="blue">getPermissions</span>().<span class="blue">stream</span>()</span>
                            <span>      .<span class="blue">map</span>(<span class="brown">each</span> -> <span class="brown">each</span>.<span class="blue">name</span>())</span>
                            <span>      .<span class="blue">map</span>(<span class="brown">each</span> -> <span class="purple">new</span> <span class="yellow">SimpleGrantedAuthority</span>(<span class="brown">each</span>))</span>
                            <span>      .<span class="blue">collect</span>(<span class="yellow">Collectors</span>.<span class="blue">toList</span>());</span>

                            <br><span>    <span class="purple">return</span> authorities;</span>
                            <span>  {{"}"}}</span>

                            <br><span>  <span class="yellow">&#64;Override</span></span>
                            <span> <span class="purple">public</span> <span class="yellow">String</span> <span class="blue">getPassword</span>() {{"{"}} <span class="purple">return</span> <span class="red">password</span>; {{"}"}}</span>

                            <br><span>  <span class="yellow">&#64;Override</span></span>
                            <span> <span class="purple">public</span> <span class="yellow">String</span> <span class="blue">getUsername</span>() {{"{"}} <span class="purple">return</span> <span class="red">username</span>; {{"}"}}</span>

                            <br><span>  <span class="yellow">&#64;Override</span></span>
                            <span> <span class="purple">public boolean</span> <span class="blue">isAccountNonExpired</span>() {{"{"}} <span class="purple">return</span> <span class="purple">true</span>; {{"}"}}</span>

                            <br><span>  <span class="yellow">&#64;Override</span></span>
                            <span> <span class="purple">public boolean</span> <span class="blue">isAccountNonLocked</span>() {{"{"}} <span class="purple">return</span> <span class="purple">true</span>; {{"}"}}</span>

                            <br><span>  <span class="yellow">&#64;Override</span></span>
                            <span> <span class="purple">public boolean</span> <span class="blue">isCredentialsNonExpired</span>() {{"{"}} <span class="purple">return</span> <span class="purple">true</span>; {{"}"}}</span>

                            <br><span>  <span class="yellow">&#64;Override</span></span>
                            <span> <span class="purple">public boolean</span>  <span class="blue">isEnabled</span>() {{"{"}} <span class="purple">return</span> <span class="purple">true</span>; {{"}"}}</span>

                            <span>{{"}"}}</span>
                        </code>
                    </pre>
                </div>
            </div>
            <p>Ahora ya estamos preparados para escribir los métodos <span class="blue">passwordEncoder</span>() y el
                <span class="blue">userDetailsService</span>() en nuestro <span
                    class="yellow">SecurityBeansInjector</span>:<br>
                <br> <span class="yellow">PasswordEncoder</span> → Bean codificador de contraseñas que <strong>cifra las
                    contraseñas</strong> de los usuarios antes de almacenarlas en BBDD y para comparar las contraseñas
                introducidas por los usuarios durante el proceso de autenticación. En este caso, se está utilizando
                <strong>BCryptPasswordEncoder</strong>, que es una <span class="purple">implementación</span> de <span
                    class="yellow">PasswordEncoder</span> que utiliza el <strong>algoritmo BCrypt</strong> para el
                cifrado de contraseñas.
            </p>
            <div class="explicacion-codigo1">
                <div class="code-container">
                    <pre>
                        <code>
                            <span><span class="yellow">&#64;Bean</span></span>
                            <span><span class="purple">public</span> <span class="yellow">PasswordEncoder</span> <span class="blue">passwordEncoder</span> () {{"{"}}</span>
                            <span>  <span class="purple">return new</span> <span class="yellow">BCryptPasswordEncoder</span>();</span>
                            <span>{{"}"}}</span>
                        </code>
                    </pre>
                </div>
            </div>
            <p><span class="yellow">userDetailsServive</span> → Bean que define un servicio que se utiliza durante el <strong>proceso de autenticación</strong>
                para cargar los detalles de un usuario a partir de la base de datos basándose en su nombre de usuario.<br>
                
                <br>En este caso, se está utilizando una <strong>expresión lambda</strong> para implementar un <span
                class="yellow">UserDetailsService</span> que busca un usuario en BBDD usando el repositorio <span
                class="red">userRepository</span> basándose en su <strong>nombre de usuario.</strong> Si no se encuentra el usuario, se lanza nuestra excepción personalizada <span
                class="yellow">ObjectNotFoundException</span>.
            </p>
            <div class="explicacion-codigo1">
                <div class="code-container">
                    <pre>
                        <code>
                            <span><span class="purple">public interface</span> <span class="yellow">UserRepository</span> <span class="purple">extends</span> <span class="yellow">JpaRepository</span> {{"<"}}<span class="yellow">User</span>, <span class="yellow">Long</span>{{">"}}  {{"{"}}</span>
                            <span>  <span class="yellow">Optional</span>{{"<"}}<span class="yellow">User</span>{{">"}} <span class="blue">findByUsername</span>(<span class="yellow">String</span> <span class="brown">username</span>);</span>
                            <span>{{"}"}}</span>
                        </code>
                    </pre>
                </div>
            </div>
            <div class="explicacion-codigo1">
                <div class="code-container">
                    <pre>
                        <code>
                            <span><span class="yellow">&#64;Bean</span></span>
                            <span><span class="purple">public</span> <span class="yellow">UserDetailsService</span> <span class="blue">userDetailsService</span> () {{"{"}}</span>
                            <span>  <span class="purple">return </span> (<span class="brown">username</span>) -> {{"{"}}</span>
                            <span>    <span class="purple">return</span> <span class="red">userRepository</span>.<span class="blue">findByUsername</span>(<span class="brown">username</span>).<span class="blue">orElseThrow</span>(</span>
                            <span>          () -> <span class="purple">new</span> <span class="yellow">ObjectNotFoundException</span>(<span class="green">"User not found with username "</span> + <span class="brown">username</span>));</span>
                            <span>    {{"}"}};</span>
                            <span>{{"}"}}</span>
                        </code>
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>