.code-container {
   margin: 20px 0;
   width: 100%;
   display: flex;
   justify-content: center;
}

pre {
    border-radius: 5px;
    background-color: #2b2b2b;
}

code {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Cascadia Code';
    font-size: 15px;
    padding: 0px 20px;
    color: #fff;
}

code .key {
    color: #f26359;
    font-weight: 500;
    font-family: 'Cascadia Code';
}

code .value {
    color: #66d26a;
    font-weight: 500;
    font-family: 'Cascadia Code';
}