@media (max-width: 1500px) {
    .doc hr{
        margin-left: 210px;
    }
}

@media (max-width: 1100px) {
    .doc hr{
        margin-left: 180px;
    }

    .image-container img{
        width: 80%;
        margin: 20px 0px;
    }
}

@media (max-width: 850px) {
    .doc hr{
        margin-left: 140px;
    }

    .image-container img{
        width: 100%;
        margin: 20px 0px;
    }
}